:root {
  --blanco: #ffffff;
  --primario: #FFC107;
  --secundario: #0097A7;
  --gris: #757575;
  --oscuro: #212121;
}
body {
  font-family: 'Krub', sans-serif;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
  min-height: 100%;   
}
h1, h2, h3, h4, h5 {
  text-align: center;
}
.img1{
  max-width: 95%;
  max-height: 95%;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  -webkit-box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
  -moz-box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
  box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
}
.logo {
  max-width: 10%;
  max-height: 10%;
}
.row{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.contenedor {
  margin: 0 auto;
  max-width: 1200px;
}
.sombra {
  padding: 2rem;
  margin-bottom: 3rem;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  -webkit-box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
  -moz-box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
  box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
}
.nav-bg {
  background-color: var(--secundario);
}
.navegacion {
  scroll-snap-align: center;
  scroll-snap-stop: always;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width:768px) {
  .navegacion {
      flex-direction: row;
      justify-content: space-between;
  }
}
.navegacion a{
  padding: 1rem 2rem;
  color: var(--blanco);
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 700;
}
.navegacion a:hover {
  background-color: var(--primario);
  color: var(--oscuro);
}
.navegacion a:last-of-type {
  margin-bottom:0;
}
@media (min-width:768px) {
  .navegacion a{
      margin-bottom: 0;
  }
}

.servicios {
  scroll-snap-align: center;
  scroll-snap-stop: always;
}
@media (min-width:768px) {
  .servicios {
      display: grid;
      grid-template-columns: 33.3% 33.3% 33.3%;
      column-gap: 1rem;
  }
}
.servicio {
  text-align:center;
}
.servicio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconos {
  display: flex;
  height: 150px;
  width: 150px;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--primario);
  border-radius: 50%;
}
.iconos i {
  font-size: 2rem;
  color: var(--oscuro);
}